*{
    margin: 0%;
    padding: 0%;
    text-align: center;
    background-color: rgb(186, 208, 243);
}

h1{
    background-color: #081b31;
    color: rgb(26, 24, 24);
    font-family:'Times New Roman', Times, serif ;
    height: 5rem;
    line-height: 5rem;
    padding: 1rem;
}

.choice{
    height: 160px;
    width:  160px;
    border-radius: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: thin;
    
}
.choice:hover{
    cursor: pointer;
    background-color: black;
   
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
}

.Score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
}

#user-score , #comp-score{
    font-size: 4rem;
}

.score{
    font-size: 2rem;
    font-family: monospace;
}

#msg{
    background-color: black;
    color: aliceblue;
    height: 3rem;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.msg-container{
    margin-top: 5rem;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }